## --- Global Variables (without reference to $entity )
#set( $recordPackage         = "${ROOT_PKG}.data.record" )
#set( $persistenceJpaPackage = "${ROOT_PKG}.persistence.impl.jpa" )
#set( $jpaCommonsPackage     = "${ROOT_PKG}.persistence.impl.jpa.commons" )
#set( $jpaMapperPackage      = "${ROOT_PKG}.persistence.impl.jpa.mapper" )
#set( $jpaRecordPackage      = "${ROOT_PKG}.persistence.impl.jpa.record" )
##
